@import "tailwindcss";

:root{
  --primary:#0b7a36;
  --secondary:#f4f6ef;
  --accent:#d4a017;
  --dark:#1f2937;
  --light:#ffffff;
}
html{
  direction: rtl;
}

body{
  margin:0;
  font-family:"Vazirmatn",sans-serif;
  background:#fff;
  color:#1f2937;
}